html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  font-feature-settings: "rlig", "calt";
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}