.changelog {
  padding: 32px 16px;
  border-left: 1px solid #eee;
  margin-left: 128px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 1024px) {
    margin-left: 0px;
    border: none;
  }
}